src/results
src/modules/__pycache__
src/modules/constraints/__pycache__
src/modules/errors/__pycache__
src/modules/helper/__pycache__
src/modules/models/__pycache__
src/modules/moga/__pycache__
src/nohup.out