__common__/__pycache__
.vscode

optimiser/results
optimiser/modules/__pycache__
optimiser/modules/errors/__pycache__
optimiser/modules/models/__pycache__
optimiser/modules/moga/__pycache__
optimiser/nohup.out